## Docker
Dockerfile*
docker-compose*
.dockerignore
**/.docker/
**/docker-compose.yml
!docker-compose.yml
**/Dockerfile
!Dockerfile

## Visual Studio
.vs/
.vscode/
bin/
obj/
appsettings.Production.json

## User-specific files
*.user
*.userosscache
*.suo
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

## Database files
*.mdf
*.ldf
*.sdf